* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 768px;
}

.hidden {
    display: none;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > img {
    width: 106px;
    height: 48px;
}

.main_image {
    padding: 10px 10px;
}

.main_image-one {
    background: linear-gradient(rgba(173, 173, 173, 0.2), rgba(20, 20, 20, 1)),
        url("images/nitendo.png") no-repeat;
    background-repeat: no-repeat;
    height: 158px;
    width: 304px;
    margin-bottom: 10px;
}

.main_image-one h5,
.main_image-three h5 {
    color: #fff;
    position: relative;
    bottom: 10px;
    left: 10px;
}

.main_image-two h2 {
    color: #fff;
    position: relative;
    top: 45px;
    left: 10px;
}

.main_image-one h2 {
    color: #fff;
    position: relative;
    left: 10px;
    bottom: 10px;
    font-size: 26px;
}

.main_image-three h2 {
    color: #fff;
    position: relative;
    left: 10px;
}

.details1 {
    color: #aaa;
    position: relative;
    left: 10px;
    bottom: 8px;
}

.details2 {
    color: #aaa;
    position: relative;
    top: 45px;
    left: 10px;
}

.details3 {
    color: #aaa;
    position: relative;
    left: 10px;
    top: 4px;
}

.main_image-two {
    background: linear-gradient(rgba(173, 173, 173, 0.2), rgba(20, 20, 20, 1)),
        url("images/usb.jpg") no-repeat;
    height: 131.5px;
    width: 304px;
    margin-bottom: 10px;
}

.main_image-three {
    background: linear-gradient(rgba(173, 173, 173, 0.2), rgba(20, 20, 20, 1)),
        url("images/technology.png") no-repeat;
    height: 158px;
    width: 304px;
    margin-bottom: 10px;
}

.latest_news,
.funds,
.latest-deals {
    padding: 0 10px;
}

.latest_news h3,
.funds h3,
.titles h3 {
    color: #f42;
    font-size: 30px;
    margin-bottom: 20px;
}

.news_article,
.news_deals {
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin-bottom: 10px;
    grid-gap: 14px;
}

.details4 {
    color: #aaa;
}

.news_article > img,
.news_deals img {
    width: 75px;
    height: 75px;
}

.list {
    color: #f42;
    line-height: 25px;
}

.box {
    margin-top: 20px;
}

.box-header {
    max-height: 35%;
    white-space: nowrap;
}

.box-header > img {
    float: left;
    margin: 10px;
    width: 20%;
}

.box-header > h4 {
    background-color: #f42;
    color: #fff;
    padding: 10px 0 10px 80px;
    font-size: 17px;
}

.price-tag {
    background-color: rgba(255, 68, 34, 0.2);
    color: black;
    text-align: left;
    padding: 10px 0 10px 80px;
}

.box h4 {
    font-size: 17px;
    font-weight: bolder;
}

.box-content {
    background-color: rgba(255, 68, 34, 0.05);
    padding: 20px;
    border-bottom: 1px solid #f42;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-size: 14px;
    color: #555;
}

.box-content i {
    padding-right: 16px;
    color: black;
    font-size: 16px;
}

.box-footer {
    font-size: 14px;
    color: #555;
}

.box-footer p {
    color: #000;
    margin: 15px;
}

.box-footer span {
    color: #aaa;
}

.most-popular {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    grid-gap: 80px 20px;
    margin-bottom: 100px;
    margin-left: 20px;
}

.most-popular article {
    height: 100%;
}

.title h2 {
    color: #f42;
    font-size: 30px;
}

.box-image {
    background: linear-gradient(
            rgba(20, 20, 20, 0.1),
            rgba(12, 12, 12, 0.3),
            rgba(31, 12, 12, 2)
        ),
        url(images/bitcoin.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 210px;
    display: grid;
    grid: 1fr / 1fr;
    align-items: end;
    margin-top: 15px;
}

.text-block h5 {
    padding: 0 10px 10px 10px;
    color: white;
    position: relative;
    bottom: 17px;
}

.text-block h2 {
    padding: 0 10px 10px 10px;
    color: white;
    position: relative;
    bottom: 30px;
}

.details5 {
    color: #aaa;
    padding: 0 10px 10px 10px;
    position: relative;
    bottom: 25px;
}

.article-preview {
    display: grid;
    grid-template-columns: 1fr 96px;
    align-items: start;
    line-height: 20px;
    background-color: rgba(255, 68, 34, 0.06);
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 15px;
}

.article-preview > div {
    padding: 10px 10px 0 10px;
    height: 100%;
}

.article-preview span {
    color: #f42;
}

.article-preview p {
    color: #f42;
    font-weight: bold;
}

.article-preview img {
    height: 96px;
    width: 96px;
}

.most-popular article > ul li {
    border-bottom: 1px solid rgb(207, 205, 205);
    padding: 7px;
}

.most-popular article > ul {
    margin-left: 20px;
}

.titles p {
    color: #f42;
    position: relative;
    top: 13px;
}

.titles {
    display: flex;
    justify-content: space-between;
}

.news_deals > div {
    position: relative;
    left: 90px;
    bottom: 30px;
}

.null-price {
    text-decoration: line-through;
    color: #aaa;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px 0 0 0;
    position: relative;
    bottom: 0;
}

.upper-footer {
    background-color: #131313;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-gap: 30px;
    padding: 50px;
}

.social-media {
    display: flex;
    list-style-type: none;
    margin-bottom: 1.5em;
    margin-left: 5px;
}

.social-media li {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    right: 25px;
}

.social-media li a {
    background: #333;
    border-radius: 50%;
    display: block;
    height: 40px;
    padding: 12px;
    text-align: center;
    width: 40px;
    color: #fff;
}

.menu-links {
    list-style-type: none;
}

.menu-links li {
    font-family: Shentox, sans-serif;
    font-weight: 500;
    display: inline-block;
    font-size: 13px;
    line-height: 24px;
    margin: 0 4px;
    position: relative;
    bottom: 27px;
    right: 25px;
}

.menu-links a {
    color: #aaa;
    text-decoration: none;
}

.lower-footer {
    background: #000;
    color: #aaa;
    font-size: 13px;
    padding: 2.5em 0;
    height: 100px;
}

.lower-footer img {
    display: inline-block;
    height: 9px;
    margin-right: 1px;
    vertical-align: baseline;
}

@media only screen and (min-width: 768px) {
    .fa-bars {
        display: none;
    }

    nav {
        width: 100%;
        height: 90px;
    }

    nav img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 106px;
        height: 80px;
    }

    .right-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .black-nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 7px 10px 2px 10px;
        background-color: black;
        color: white;
        font-size: 14px;
        white-space: nowrap;
        padding: 10px;
    }

    .list1 {
        display: grid;
        grid-template-columns: repeat(6, auto);
        justify-items: start;
        justify-content: start;
        list-style: none;
    }

    .list2 {
        display: grid;
        grid-template-columns: repeat(5, auto);
        justify-items: end;
        justify-content: end;
        list-style: none;
    }

    .list1 li,
    .list2 li {
        margin: 0 5px;
        align-self: baseline;
    }

    .list1 a,
    .list2 a,
    .list3 a {
        text-decoration: none;
        color: #aaa;
    }

    .list1 a:hover,
    .list2 a:hover {
        color: #fff;
    }

    .white-nav {
        display: grid;
        grid-template-columns: 1fr 50px;
        height: 48px;
        font-family: "Changa", sans-serif;
        color: #aaa;
    }

    .list3 {
        display: block;
        position: absolute;
        list-style-type: none;
    }

    .list3 li {
        float: left;
        position: relative;
        top: 10px;
        left: 130px;
        padding: 10px;
    }

    .main_image-one {
        height: 62vh;
        grid-area: first;
        margin-bottom: 0;
        width: 500px;
    }

    .main_image-two {
        grid-area: second;
        margin-bottom: 0;
    }

    .main_image-three {
        grid-area: third;
        margin-bottom: 0;
    }

    .main_image {
        display: grid;
        grid-gap: 8px;
        grid-template-areas:
            "first second"
            "first third";
        grid-template-columns: 2fr 1fr;
        margin-bottom: 0;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 10px;
    }

    .news_article > img {
        width: 40vh;
        height: 20vh;
    }

    .news_article {
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .latest_news {
        padding: 0 10px;
    }
}
